/*###STANDART####*/
html, body {
  height: 100%;

}
#wrap {
  min-height: 100%;

}
#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
  padding-left: 0;
  padding-right: 0;

}


/* FONTS
font-family: 'Lora', serif;
*/


/* Gradient transparent - color - transparent */

hr.style-two {
  border: 0;
  height: 1px;
  background-color: rgb(238,159,53);
}
/*###Überschrift###*/
h2.custom-überschrift{
  color: #3D1901;
}
@media all and (max-width: 740px) {
  h2.custom-überschrift{
      margin-top: 20px;
  }
}
/*###Überschrift###*/

/*###MiniNav###*/
@media all and (max-width: 979px) {
  .miniNav-Container-fluid { display: none; }
}
.paddingLeft{
  padding-left: 50px;
}
.mini-nav{
  margin-top: 5px;
  margin-bottom: 7px;
}
a.minNav-a{
  color: rgb(61,25,1,0.7);
  text-decoration:underline;
}
a.minNav-a:visited{
  color: rgb(61,25,1,0.7);
  text-decoration:underline;
}
a.minNav-a:hover{
  color: grey;
  text-decoration:underline;
}
a.minNav-a:active{
  text-decoration: none;
}

.miniNav-td{
  display: inline;
  color: rgb(61,25,1,0.7);
  font-size: 0.82rem;
  padding-top: 30px;
  padding-bottom: 3px;
}
/*###MiniNav###*/

/*###LOGIN###*/
.container.login-container{
  margin-top: 4%;
  margin-bottom: 4%;
}

.col-sm-12.login-col-sm-12{
  padding-left: 0;
  padding-right: 0;
}

.card.login-card{
  background-color: #3D1901;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -moz-box-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

img.login-img{
  padding-bottom: 17px;
  margin: auto;
  display: block;
}

form.login-input{
  max-width: 300px;
  margin: auto;
}
input.login-btn{
  color: white;
  background-color: #008369;
  margin-bottom: 1.2rem;
  margin-top: 1rem;
  width: 100%;
}

label.login-checkbox{
  color: white;
}
/*###LOGIN ENDE###*/

/*NAVBAR*/

nav.navbar{
  background-color: #3D1901;
}
nav.navbar.navbar-expand-lg{
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar-toggler{
  background-color: #008369;
}
.navbar-toggler-icon{
  background-color: #008369;
}
nav a:hover{
    color: rgb(238,159,53)!important;
    background-color:  #3D1901!important;
}
nav a{
  color: white!important;
}
.navbar-nav > li > .dropdown-menu{
  background-color: #3D1901;
  border: none;
}

/*NAVBAR ENDE*/
/*###JUMBOTRON###*/
.jumbotron{
  text-align: center;
  margin:0;
}
@media screen and (min-width: 768px){
  .jumbotron{
    text-align: center;
    margin:0;
  }
}
/*###JUMBOTRON###*/
/*###ÜBEN###*/
h4.custom-fonts:hover{
  color: rgb(238,159,53)!important;
}
.uben-container{
  padding-left: 0;
  padding-right: 0;
}
.uben-form{
  display: block;
  text-align: center;
  background-color: #3D1901;
  padding-bottom: 40px;
  padding-top: 20px;
  padding-right: 5px;
  padding-left: 5px;
}

.eigenschaft-class{
  padding-top:0;
  padding-left:0;
  padding-right: 0;
  margin:10px;
}

.uben-select{
  max-width: 250px;
  min-width: 250px;
  margin: auto;
}

@media screen and (min-width: 768px){
  .eigenschaft-class{
    padding-top: 30px;
    padding-left: 15px;
  }
}

@media screen and (min-width: 768px){
  .uben-select{
    max-width: auto;
    min-width: auto;
  }
}

.custom-fonts{
  color: white;
}
/*###CAROSEL###*/
@media all and (max-width: 740px) {
  .container-carousel{
    margin-top: 15px;
    margin-bottom: 35px;
  }
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #008369;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #008369;
}
.ladung-col{

}
@media screen and (min-width: 768px){
  .ladung-col{
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
#Ladungsqualität-slide{
  border:1px solid #008369;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -moz-box-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
}
/*###CAROSELENDE###*/
/*FOOTER*/
.container-fluid.custom-footer{
  background-color: #3D1901!important;
}
.custom-footer{
  position: relative;
  margin-top: -170px;
  clear: both;
  background-color:#3D1901;
  height: 190px;

}
.custom-footer-row{
  padding-top: 30px;
  font-family: 'Lora', serif;
  text-align: center;
  color: white;
  background-color: #3D1901;
}
.table-footer{
  width: auto;
  margin: auto;
  display: block;
}
a.a-footer:visited, a.a-footer:active, a.a-footer,
a.a-footer:hover{
  color: white;
  text-decoration: none;
}
.custom-footer-mini{
  background-color: #3D1901;
  padding-top:10px;
  color: white;
  text-align: right;
  font-size: 0.7rem;
}
.custom-margin{
  margin-bottom: 5px;
}
@media all and (max-width: 740px) {
  .custom-footer-mini{
    text-align: center;
  }
}
@media all and (max-width: 740px) {
  hr.style-two { display: none; }
  .custom-footer-mini{background-color: rgb(64,64,64);}
  .custom-footer-row{
    background-color: rgb(64,64,64);
    padding-top: 15px;
  }
}
/*FOOTER ENDE*/
