/*###STANDART####*/
body.login-body{
  background-color: rgb(238,159,53);
}

/*###LOGIN###*/
.container.login-container{
  margin-top: 4%;
  margin-bottom: 4%;
}

.col-sm-12.login-col-sm-12{
  padding-left: 0;
  padding-right: 0;
}

.card.login-card{
  background-color: #3D1901;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -moz-box-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

img.login-img{
  padding-bottom: 17px;
  margin: auto;
  display: block;
}

form.login-input{
  max-width: 300px;
  margin: auto;
}
input.login-btn{
  color: white;
  background-color: #008369;
  margin-bottom: 1.2rem;
  margin-top: 1rem;
  width: 100%;
}

label.login-checkbox{
  color: white;
}
/*###LOGIN ENDE###*/

/*NAVBAR*/

nav.navbar{
  background-color: #3D1901;
}
nav.navbar.navbar-expand-lg{
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar-toggler{
  background-color: #008369;
}
.navbar-toggler-icon{
  background-color: #008369;
}
nav a:hover{
    color: rgb(238,159,53)!important;
    background-color:  #3D1901!important;
}
nav a{
  color: white!important;
}
.navbar-nav > li > .dropdown-menu{
  background-color: #3D1901;
  border: none;
}

/*NAVBAR ENDE*/
/*###JUMBOTRON###*/
.jumbotron{
  text-align: center;
  margin:0;
}
@media screen and (min-width: 768px){
  .jumbotron{
    text-align: right;
    margin:0;
  }
}
/*###JUMBOTRON###*/
/*###ÜBEN###*/
h4.custom-fonts:hover{
  color: rgb(238,159,53)!important;
}
.uben-form{
  display: block;
  text-align: center;
  background-color: #3D1901;
  padding-bottom: 40px;
  padding-top: 20px;
  padding-right: 5px;
  padding-left: 5px;
}

.eigenschaft-class{
  padding-top:0;
  padding-left: 0;
  padding-right: 0;
}

.uben-select{
  max-width: 250px;
  min-width: 250px;
  margin: auto;
}

@media screen and (min-width: 768px){
  .eigenschaft-class{
    padding-top: 30px;
    padding-left: 15px;
  }
}

@media screen and (min-width: 768px){
  .uben-select{
    max-width: auto;
    min-width: auto;
  }
}

.custom-fonts{
  color: white;
}
/*###CAROSEL###*/
.glyphicon.glyphicon-chevron-right{
   color:red;
}

/*###CAROSELENDE###*/






/**/
