/*###STANDART####*/
body.login-body{
  background-color: white;
}
/* Gradient transparent - color - transparent */

hr.style-two {
  border: 0;
  height: 1px;
  background-image:
    linear-gradient(to right,
    rgba(0, 0, 0, 0),
    rgb(237,164,50, 0.75),
    rgba(0, 0, 0, 0));
}
/*###MiniNav###*/
@media all and (max-width: 979px) {
  .miniNav-Container-fluid { display: none; }
}
.paddingLeft{
  padding-left: 50px;
}
a.minNav-a{
  color: rgb(61,25,1,0.7);
  text-decoration:underline;
}
a.minNav-a:visited{
  color: rgb(61,25,1,0.7);
  text-decoration:underline;
}
a.minNav-a:hover{
  color: grey;
  text-decoration:underline;
}
a.minNav-a:active{
  text-decoration: none;
}
.miniNav-td{
  width: 200px;
  display: inline;
  color: rgb(61,25,1,0.7);
  font-size: 0.82rem;
  padding-top: 30px;
  padding-bottom: 3px;
}
/*###MiniNav###*/

/*###LOGIN###*/
.container.login-container{
  margin-top: 4%;
  margin-bottom: 4%;
}

.col-sm-12.login-col-sm-12{
  padding-left: 0;
  padding-right: 0;
}

.card.login-card{
  background-color: #3D1901;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -moz-box-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

img.login-img{
  padding-bottom: 17px;
  margin: auto;
  display: block;
}

form.login-input{
  max-width: 300px;
  margin: auto;
}
input.login-btn{
  color: white;
  background-color: #008369;
  margin-bottom: 1.2rem;
  margin-top: 1rem;
  width: 100%;
}

label.login-checkbox{
  color: white;
}
/*###LOGIN ENDE###*/

/*NAVBAR*/

nav.navbar{
  background-color: #3D1901;
}
nav.navbar.navbar-expand-lg{
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar-toggler{
  background-color: #008369;
}
.navbar-toggler-icon{
  background-color: #008369;
}
nav a:hover{
    color: rgb(238,159,53)!important;
    background-color:  #3D1901!important;
}
nav a{
  color: white!important;
}
.navbar-nav > li > .dropdown-menu{
  background-color: #3D1901;
  border: none;
}

/*NAVBAR ENDE*/
/*###JUMBOTRON###*/
.jumbotron{
  text-align: center;
  margin:0;
}
@media screen and (min-width: 768px){
  .jumbotron{
    text-align: center;
    margin:0;
  }
}
/*###JUMBOTRON###*/
/*###ÜBEN###*/
h4.custom-fonts:hover{
  color: rgb(238,159,53)!important;
}
.uben-form{
  display: block;
  text-align: center;
  background-color: #3D1901;
  padding-bottom: 40px;
  padding-top: 20px;
  padding-right: 5px;
  padding-left: 5px;
}

.eigenschaft-class{
  padding-top:0;
  padding-left: 0;
  padding-right: 0;
}

.uben-select{
  max-width: 250px;
  min-width: 250px;
  margin: auto;
}

@media screen and (min-width: 768px){
  .eigenschaft-class{
    padding-top: 30px;
    padding-left: 15px;
  }
}

@media screen and (min-width: 768px){
  .uben-select{
    max-width: auto;
    min-width: auto;
  }
}

.custom-fonts{
  color: white;
}
/*###CAROSEL###*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #008369;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #008369;
}
.ladung-col{

}
@media screen and (min-width: 768px){
  .ladung-col{
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
#Ladungsqualität-slide{
  border:1px solid #008369;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  -moz-box-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
}
/*###CAROSELENDE###*/






/**/
